/* CSS declarations go here */
body{
	font-family: "courier", serif;
	background-color: #a0693e;
	position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h1{
	color: #ecf0f1;
}
p{
	color: #ecf0f1;
}
.subtext{
	color: #848383;
}